<html>
<body style="text-align:center; margin-top:240px; ">
<form style="box-shadow:10px 10px 10px 10px; width:550px; border-radius:10px; padding-top:20px; padding-bottom:20px; margin-left:450px; " action="http://localhost:5000/verify" method="POST">
    <p>Enter Name:</p>
    <p><input type="text" name="uid" /></p>
    <p>Enter Password:</p>
    <p><input type="password" name="password" /></p>
    <p><input style="background-color:black; color:white; margin-top:10px; padding: 10px 10px 10px 10px; width:100px; " type="SUBMIT" value="SUBMIT" /></p>
</form>
</body>
</html>